<div id='mainNavBar'>
            <ul>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/home']">
                        <span class='glyphicon glyphicon-home'></span> Home
                    </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                        <a [routerLink]="['/projects']">
                            <span class='glyphicon glyphicon-th-list'></span> Projects
                        </a>
                </li>
                <li [routerLinkActive]="['link-active']">
                    <a [routerLink]="['/registration']">
                        <span class='glyphicon glyphicon-th-list'></span> Register a new user
                    </a>
            </li>
            </ul>
</div>
