<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<connectionStrings>
    <add name="PMSContext" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog={PMSystem1;Integrated Security=SSPI;" providerName="System.Data.SqlClient"/>
</connectionStrings>
    <system.webServer>
        <directoryBrowse enabled="false" />
		<modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument enabled="true" />
    </system.webServer>
</configuration>
